@import url("main.css");

a {
	color: blue;
	border-bottom: solid 1px rgba(128, 128, 128, 0.25);
	text-decoration: none;
	-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

	a:hover {
		color: #ef8376;
		border-bottom-color: transparent;
	}

figcaption {
	max-width: 50%;
	margin: auto;
	font-size: 12pt;
	font-style: italic;
}
